<?xml version='1.0' encoding="UTF-8"?>
<phpunit backupGlobals='false'
         bootstrap="./tests/bootstrap.php"
         backupStaticAttributes="false"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Blog mega tutorial test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>