<form  class='navbar-form form-inline' action="{{path("search")}}" method="GET" name="search">
    <input type="search" name='q' />
    <input type="submit" class='btn' value="{{ 'Search posts'|trans }}" />
</form>