{%  extends "common/layout.html.twig" %}
{% block content %}
<h5>User profile</h5>
<div class="row">
    <div class="spann4">
        <p><img src="http://gravatar.com/avatar/{{ app.security.token.user.email|md5 }}" alt=""></p>
        <p>{{ app.security.token.user.username }}</p>
    </div>
</div>
{% endblock %}